 .btn-success{
       padding: 9px 50px;
 }
 
.apply{
background: #c666ff;
color: white;
}

.col-md-8{
 
padding:27px;
}
.list-unstyled{

      & a{
            color:black;
      }
}

.col-md-3 mb-md-0 mb-3{

      margin-left: -70px;
}