<div class="footer-area">

<!-- <div class="container-fluid aply"> -->
<!-- <div class="col-md-8 mb-md-0 mb-2"> -->



    <div class="container-fluid apply">
        <div class="row d-flex">
          <div class="col-md-8">
              <h1 class="ab"> Careers at King Saud Medical City </h1>
              <p>To serve our community with passion and professionalism.Vision To be a <br>
              leading world class,integrated and comprehensive healthcare provider.
              
              </p>
              
      
          </div>
          <div class="col-md- d-flex">
            <div class="col-md-1 m-auto ">
                <button type="button" class="btn btn-success">APPLY NOW</button>
            </div>
          </div>
        </div>
      </div>
      
   




<div class="footersection">

<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
    
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3" style="margin-top:50%">
  
        <!-- Grid column -->
        <div class="col-md-2">
  
            <!-- Links -->
            <h5 class="text-uppercase">DOCAPP</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">About Us</a>
              </li>
              <li>
                <a href="#!">Careers</a>
              </li>
              <li>
                <a href="#!">Press</a>
              </li>
              <li>
                <a href="#!">Contact Us</a>
              </li>
              <li>
                <a href="#!">Help</a>
              </li>
              <li>
                <a href="#!">Blogs</a>
              </li>
            </ul>
  
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-4">
  
            <!-- Links -->
            <h5 class="text-uppercase">SEARCH FOR</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Doctors</a>
              </li>
              <li>
                <a href="#!">Clinics</a>
              </li>
              <li>
                <a href="#!">Hospitals</a>
              </li>
              <li>
                <a href="#!">Location</a>
              </li>
            
            <li>
              <a href="#!">Insurance</a>
            </li>
            <li>
              <a href="#!">Specialty</a>
            </li>
            </ul>
          </div>
          <!-- Grid column -->
  
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">SPECIALITIES</h5>
  
            <ul class="list-unstyled">
              
              <li>
                <a href="#!">Chiropractors</a>
              </li>
              
              <li>
                <a href="#!">Dentists</a>
              </li>
              <li>
                <a href="#!">Dermatologits</a>
              </li>
              <li>
                <a href="#!">Eye Doctors</a>
              </li>
              <li>
                <a href="#!">Gynecologists</a>
              </li>
            
            <li>
              <a href="#!">Primary care doctors</a>
            </li>
            <li>
              <a href="#!">Psychiatrists</a>
            </li>
            </ul>
  
  
                   
          </div>
          <div class="col-md-3 mb-md-0 mb-4">

          <p>Are you from Clinic or Hospitals?</p> 
          <a href="#" >REGISTERED</a> here.

                <div class="contact">

                  <p>Contact Us</p>
                 <a href="#">enquiry@docapp.com</a> |  (+966122606000)
                </div>
               <div class="social">
                    <p> Follow us</p>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-google-plus"></i>
</div>
                    
                    


          </div>
      
      
        </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  
  
  </footer>
  <!-- Footer -->
  <!-- Footer -->
  <footer class="page-footer font-small blue">
  
    <!-- Copyright -->
    <div class="footer-copyright ">© 2018 Copyright:,DOCAPP | Terms of Use | Privacy Policy  </div>
    <!-- Copyright -->
  
  </footer>
  
  
  
  
  
  </div>
  </div>