
<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">  <img src="a.jpeg" alt="Docapp">
          </a>
      </div>
      <ul class="nav navbar-nav">
          <li><a href="#">BOOK APPOINTMENT</a></li>
          <li><a href ='#'>CHAT WITH A DOCTOR</a></li>
          <li><a href="#"> FOR CLINICS & HOSPITALS </a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CONTACT</a></li> 
          <li style="margin-left:70px !important" ><a href="#">Login | Sign Up </a></li>
        
        </ul>
  </div>
</nav> -->

  <div class="nav-container">
<nav class="navbar">
  <!-- Brand/logo -->
  <a class="navbar-brand d-flex justify-content-start" href="#">
    <img src="bird.jpg"  style="width:40px;">
  </a>
  
  <!-- Links -->
  
  <ul class=" d-flex nav-list">
    <li class="nav-item">
      <a class="nav-link" href="#">BOOK APPOINTMENT</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#"> FOR CLINICS & HOSPITALS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
  </ul>
  
  <div class="login d-flex justify-content-end">
    <a href="#">Login | Sign Up</a>
  </div>
</nav>
</div>